<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jste offline</title>
    <link rel="stylesheet" href="uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="css/main.css">
    <script src="uikit/js/uikit.min.js"></script>
    <script src="uikit/js/uikit-icons.min.js"></script>
</head>

<body class="uk-width-1-1 uk-position-relative">
    <div class="uk-width-1-2@m">
        <div class="uk-position-center uk-text-center">
            <img src="img/teepee-text-logo-dark.png" width="128px">
            <h1 class="uk-heading-large uk-margin-remove uk-text-light">Offline</h1>
            <p>Připojte se prosím k internetu a zkuste to znovu. <br> </p>
        </div>
    </div>
</body>

</html>